.element {
    -fx-padding: 0;
}

.sort {
    -fx-icon-color: -fx-text-secondary;
}

.title-container {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 3px 0;
    -fx-border-color: -fx-primary-500;
}

.create-container {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-background-color: -fx-background-secondary;
    -fx-padding: 10px 10px 10px 10px;
}

.create-container:hover {
    -fx-background-color: -fx-primary-900;
}

.create-container:pressed {
    -fx-background-color: -fx-primary-700;
}

.create-container.selected {
    -fx-background-color: -fx-primary-700;
    -fx-border-width: 1px;
    -fx-border-color: -fx-primary-600;
    -fx-effect: dropshadow(gaussian, -fx-drop-shadow, 10, 0.3, 2, 2);
}

.create-container > .icon {
    -fx-icon-color: -fx-text;
}

.sort-box {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 11pt;
    -fx-text-fill: -fx-text-secondary;
    -fx-font-style: italic;
}

.sort-box > .arrow-button > .arrow {
    -fx-background-color: transparent;
}