.element {
    -fx-padding: 0;
    -fx-background-radius: 10px;
    -fx-background-color: -fx-background-secondary;
}

.label.title {
    -fx-font-size: 24pt;
}

.title-container {
    -fx-background-radius: 5px;
    -fx-background-image: url("/img/banner.png");
    -fx-background-position: center center;
    -fx-background-color: linear-gradient(-fx-background-secondary, -fx-primary-400 70%);
}

.title-button {
    -fx-icon-color: -fx-white;
}