<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %highlight{%-5level} %logger{1.2*} - %msg%n"/>
        </Console>
        <RollingFile
                name="rollingFile"
                fileName="logs/application.log"
                filePattern="logs/application.%d{dd-MMM}.log.gz"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %highlight{%-5level} %logger{1.2*} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <Policies>
                    <TimeBasedTriggeringPolicy interval="1"/>
                </Policies>
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="rollingFile" />
        </Root>
    </Loggers>
</Configuration>