* {
    -fx-button-default: -fx-primary-300;
    -fx-button-icon-default: -fx-secondary-400;
    -fx-button-hover: -fx-primary-300;
    -fx-button-text-hover: -fx-primary-950;
    -fx-button-pressed: -fx-primary-500;
    -fx-button-selected: -fx-primary-400;

    -fx-button-highlight-icon-disable: -fx-secondary-400;

    -fx-button-neutral-default: -fx-secondary-200;
    -fx-button-neutral-pressed: -fx-secondary-50;

    -fx-button-negative-default: -fx-error;
    -fx-button-negative-pressed: orange;

    -fx-button-background: transparent;
    -fx-button-border: -fx-button-default;
    -fx-button-text: -fx-text;
    -fx-button-icon: -fx-button-icon-default;
}

.button {
    -fx-border-color: -fx-button-border;
    -fx-background-color: -fx-button-background;
    -fx-text-fill: -fx-button-text;
    -fx-font-size: 12pt;
    -fx-font-weight: 700;
    -fx-font-style: italic;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, -fx-drop-shadow, 5, 0.5, 2, 2);
    -fx-background-radius: 5px;
    -fx-icon-color: -fx-button-icon;
}

.button:hover {
    -fx-button-background: -fx-button-hover;
    -fx-button-border: -fx-button-hover;
    -fx-button-text: -fx-button-text-hover;
    -fx-button-icon: -fx-button-hover;
}

.button:pressed {
    -fx-button-background: -fx-button-pressed;
    -fx-button-border: -fx-button-pressed;
    -fx-button-icon: -fx-button-pressed;
}

.button:disabled {
    -fx-opacity: 0.5;
}

.button.selected {
    -fx-button-background: -fx-button-selected;
    -fx-button-border: -fx-button-selected;
    -fx-button-text: -fx-button-text-hover;
    -fx-button-icon: -fx-button-selected;
}

.button.invisible {
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

.button.highlight {
    -fx-button-icon-default: -fx-button-selected;
}
.button.highlight:disabled {
    -fx-button-icon-default: -fx-button-highlight-icon-disable;
}

.button.neutral {
    -fx-button-default: -fx-button-neutral-default;
    -fx-button-hover: -fx-button-neutral-default;
    -fx-button-pressed: -fx-button-neutral-pressed;
}

.button.negative {
    -fx-button-default: -fx-button-negative-default;
    -fx-button-hover: -fx-button-negative-default;
    -fx-button-pressed: -fx-button-negative-pressed;
    -fx-button-text-hover: -fx-text;
}
