.choice-box {
    -fx-choicebox-background: -fx-background-secondary;
    -fx-choicebox-hover-background: -fx-primary-800;
    -fx-choicebox-border: -fx-primary-900;
    -fx-choicebox-arrow: -fx-text;
}

.choice-box {
    -fx-background-color: -fx-choicebox-background;
    -fx-border-color: -fx-choicebox-border;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-text-fill: -fx-text;
}

.choice-box > .label {
    -fx-text-fill: -fx-text;
}

.choice-box .context-menu {
    -fx-background-color: -fx-choicebox-background;
    -fx-border-color: -fx-choicebox-border;
    -fx-border-width: 1px;
    -fx-border-radius: 0;
    -fx-text-fill: -fx-text;
}

.choice-box .menu-item {
    -fx-text-fill: -fx-text;
}

.choice-box .menu-item:hover {
    -fx-background-color: -fx-choicebox-hover-background;
}

.choice-box .menu-item > .label {
    -fx-text-fill: -fx-text;
}

.choice-box > .open-button > .arrow {
    -fx-background-color: -fx-choicebox-arrow;
}