.combo-box {
    -fx-combobox-default: -fx-background-secondary;
    -fx-combobox-border-default: -fx-primary-300;
    -fx-combobox-list-hover: -fx-primary-800;
    -fx-combobox-border-disabled: -fx-secondary-400;

    -fx-combobox-background: -fx-combobox-default;
    -fx-combobox-border: -fx-combobox-border-default;
    -fx-combobox-arrow: -fx-text;
    -fx-combobox-list-background: -fx-combobox-list-default;
}

.combo-box {
    -fx-background-color: -fx-combobox-background;
    -fx-border-color: -fx-combobox-border;
    -fx-border-width: 1.5px;
    -fx-border-radius: 5px;
    -fx-text-fill: -fx-text;
}

.combo-box > .list-cell {
    -fx-text-fill: -fx-text;
}

.combo-box > .arrow-button > .arrow{
    -fx-background-color: -fx-combobox-arrow;
}

.combo-box > .combo-box-popup > .list-view {
    -fx-background-color: -fx-combobox-background;
    -fx-border-color: -fx-combobox-border;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-text-fill: -fx-text;
}

.combo-box > .combo-box-popup > .list-view  .list-cell {
    -fx-text-fill: -fx-text;
    -fx-background-color: -fx-combobox-background;
}

.combo-box > .combo-box-popup > .list-view .list-cell:hover {
    -fx-combobox-background: -fx-combobox-list-hover;
}

.combo-box:disabled {
    -fx-border-color: -fx-combobox-border-disabled;
}