@import url("Button.css");
@import url("SplitPane.css");
@import url("Label.css");
@import url("TextField.css");
@import url("ComboBox.css");
@import url("RadioButton.css");
@import url("ScrollPane.css");
@import url("CheckBox.css");
@import url("ToggleButton.css");
@import url("Popup.css");

/* Exo 2 : google-fonts */
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    -fx-primary-50: #a1e8b9;
    -fx-primary-100: #95eab1;
    -fx-primary-200: #7ce49b;
    -fx-primary-300: #54d971;
    -fx-primary-400: #3ecc5a;
    -fx-primary-500: #258e34;
    -fx-primary-600: #1a7523;
    -fx-primary-700: #185d1c;
    -fx-primary-800: #174f18;
    -fx-primary-900: #164616;
    -fx-primary-950: #0b2a09;
    -fx-white: #ffffff;
    -fx-black: #000000;
    -fx-background: #202020;
    -fx-background-secondary: -fx-black;
    -fx-background-tertiary: #3f3f3f;
    -fx-text: -fx-white;
    -fx-error: red;
    -fx-drop-shadow: rgba(0, 0, 0, 0.3);
}

*.error {
    -fx-border-color: -fx-error;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.root {
    -fx-background-color: -fx-background-secondary;
    -fx-text-fill: -fx-text;
    -fx-font-family: 'Exo 2';
    -fx-font-size: 10pt;
    -fx-background-radius: 6px;
}

.element-root {
    -fx-background-color: transparent;
    -fx-padding: 10px 10px 10px 10px;
}

.element {
    -fx-background-color: -fx-background;
    -fx-padding: 10px;
    -fx-background-radius: 5px;
}