.label {
    -fx-font-size: 12pt;
}

.label.title {
    -fx-font-weight: bold;
    -fx-font-size: 22pt;
}

.label.subtitle {
    -fx-font-size: 22pt;
}

.label.disabled {
    -fx-opacity: 0.5;
}

.label.element-title {
    -fx-font-style: italic;
    -fx-font-size: 20pt;
}

.label.element-title.selected {
    -fx-font-weight: bold;
}

.label.element-details {
    -fx-font-style: italic;
    -fx-font-size: 10pt;
}

.label.element-details.selected {
    -fx-font-weight: bold;
}

.label.hint {
    -fx-font-size: 10pt;
    -fx-font-style: italic;
    -fx-text-fill: -fx-text-secondary;
}

.label.error {
    -fx-text-fill: -fx-error;
    -fx-border-width: 0;
    -fx-font-size: 10pt;
}

.icon {
    -fx-icon-color: -fx-button-icon;
}

.icon.selected {
    -fx-icon-color: -fx-button-selected;
}