.popup-container {
    -fx-background-color: -fx-background-tertiary;
    -fx-background-radius: 10px;
    -fx-border-color: -fx-primary-800;
    -fx-border-width: 4px;
    -fx-padding: 10px 10px 10px 10px;
    -fx-border-radius: 10px;
}

.popup-container > * {
    -fx-padding: 5px 5px 5px 5px;
}

.popup-background {
    -fx-opacity: 0.5;
}

.popup-container > .label {
    -fx-text-alignment: center;
}