.scroll-pane, .scroll-bar {
    -fx-scrollbar-thumb: -fx-background-tertiary;
    -fx-scrollbar-background: transparent;

    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-bar:vertical {
    -fx-background-color: -fx-scrollbar-background;
    -fx-pref-width: 9px;
    -fx-padding: 0 0 0 0;
}


.scroll-bar > .thumb {
    -fx-background-color: -fx-scrollbar-thumb;
    -fx-background-radius: 2px;
}

.scroll-bar > .decrement-button > .decrement-arrow, .scroll-bar > .increment-button > .increment-arrow {
    -fx-background-color: -fx-scrollbar-thumb;
    -fx-font-size: 15px; /* configure size... */
}