.title-container {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 3px 0;
    -fx-border-color: -fx-primary-500;
}

.button.logout {
    -fx-border-color: #e00000;
    -fx-text-fill: -fx-text;
    -fx-background-color: transparent;
}

.button.logout:hover {
    -fx-border-color: #ff0000;
}

.button.logout:pressed {
    -fx-border-color: #b00000;
}

.label.username {
    -fx-font-weight: 700;
    -fx-font-size: 18pt;
}

.label.uuid {
    -fx-font-style: italic;
    -fx-font-size: 9pt;
    -fx-text-fill: -fx-text-secondary;
}

.label.name {
    -fx-font-weight: 700;
}

.button.invisible > .icon {
    -fx-icon-color: -fx-text-secondary;
}

.button.invisible:hover > .icon {
    -fx-icon-color: #dddddd;
}

.button.invisible:pressed > .icon {
    -fx-icon-color: #999999;
}