.slider > .track {
    -fx-background-color: -fx-background-secondary;
    -fx-border-color: -fx-primary-400;
    -fx-border-radius: 5px;
    -fx-translate-y: 10px;
}

.slider > .thumb {
    -fx-background-color: -fx-primary-600;
    -fx-border-color: -fx-primary-400;
    -fx-border-radius: 10px;
    -fx-translate-y: 10px;
    -fx-cursor: hand;
}

.slider > .axis {
    -fx-translate-y: 3px;
}