.toggle-button {
    -fx-toggle-default: transparent;
    -fx-toggle-border-default: -fx-secondary-400;
    -fx-toggle-hover: -fx-primary-700;
    -fx-toggle-border-hover: -fx-primary-500;
    -fx-toggle-selected: -fx-primary-500;
    -fx-toggle-border-selected: -fx-primary-300;

    -fx-toggle-background: -fx-toggle-default;
    -fx-toggle-border: -fx-toggle-border-default;
}

.toggle-button {
    -fx-border-color: -fx-toggle-border;
    -fx-background-color: -fx-toggle-background;
    -fx-border-radius: 1px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, -fx-drop-shadow, 5, 0.5, 2, 2);
}

.toggle-button:hover {
    -fx-border-color: -fx-toggle-border-hover;
    -fx-background-color: -fx-toggle-hover-default;
}

.toggle-button:selected {
    -fx-border-color: -fx-toggle-border-selected;
    -fx-background-color: -fx-toggle-selected;
}