.check-box {
    -fx-checkbox-default: -fx-background-secondary;
    -fx-checkbox-border-default: -fx-primary-700;
    -fx-checkbox-border-hover: -fx-primary-400;
    -fx-checkbox-border-selected: -fx-primary-300;
    -fx-checkbox-mark-selected: -fx-primary-400;

    -fx-checkbox-background: -fx-checkbox-default;
    -fx-checkbox-border: -fx-checkbox-border-default;
    -fx-checkbox-mark: transparent;
}

.check-box > .box {
    -fx-background-color: -fx-checkbox-background;
    -fx-background-radius: 5px;
    -fx-border-color: -fx-checkbox-border;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.check-box > .box > .mark {
    -fx-background-color: -fx-checkbox-mark;
    -fx-shape: "M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z";
    -fx-translate-x: -0.5;
    -fx-translate-y: -0.5;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.check-box:hover > .box {
    -fx-checkbox-border: -fx-checkbox-border-hover;
}

.check-box:selected > .box {
    -fx-checkbox-border: -fx-checkbox-border-selected;
}

.check-box:selected > .box > .mark {
    -fx-checkbox-mark: -fx-checkbox-mark-selected;
}
