.radio-button {
    -fx-radio-default: -fx-background-secondary;
    -fx-radio-border-default: -fx-primary-700;
    -fx-radio-dot-selected: -fx-primary-400;
    -fx-radio-border-selected: -fx-primary-300;

    -fx-radio-background: -fx-radio-default;
    -fx-radio-border: -fx-radio-border-default;
    -fx-radio-dot: transparent;
}

.radio-button {
    -fx-font-size: 12pt;
    -fx-font-style: italic;
}

.radio-button:selected {
    -fx-font-weight: 700;
}

.radio-button > .radio {
    -fx-background-color: -fx-radio-background;
    -fx-border-color: -fx-radio-border;
    -fx-border-width: 2px;
    -fx-border-radius: 100px;
}

.radio-button > .radio > .dot {
    -fx-background-color: -fx-radio-dot;
}

.radio-button:selected > .radio {
    -fx-border-color: -fx-radio-border-selected;
}

.radio-button:selected  > .radio > .dot {
    -fx-background-color: -fx-radio-dot-selected;
    -fx-translate-y: -1px;
}